.Section_3{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
}

.Falcon9Description{
    width: 501px;
    margin: 0 100px;
}

.Falcon9Description p{

}