.Section_1{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center_text{
    display: flex;
    flex-direction: column;
}

.Section_1 .center_text h1{
    font-size: 100px;
    line-height: normal;
}

.bottom_button{
    margin-bottom: 80px;
    animation: animateDown infinite 3s ease-in-out;

}