.Section_6_starship{
    height: 100vh;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
}


.textComponents{
    height: 100vh;
    width: 90vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    left: 8vw;
    position: relative;
    font-weight: bold;
}

.textComponents h1{
    font-size: 48px;
}

.textComponents p{
    width: 30vw;
    margin: 10px 0;
    text-transform: none;
    font-weight: normal;
}
