*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  color: #fff;
  font-family: 'D-DIN', Arial, Verdana, sans-serif;
}

body{
  width: 100%;
  overflow-x: hidden;
  background: #000;
}

@font-face {
  font-family: 'D-DIN';
  font-weight: bolder;
  src: url('/public/D-DIN.ttf')format('truetype');
}

@keyframes fadeIn{
  from { opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut{
  from { opacity: 1;}
  to {opacity: 0;}
}

@keyframes animateDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    transform: translateY(60px);
  }
  100% {
    opacity: 0;
    transform: translateY(90px);
  }
}